/* edit_learning.css */
.form-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-header {
    background-color: #1e90ff; /* Use the color scheme from the 'Create Learning Path' page */
    text-align: center;
    color: #fff;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
}

.form-header h2 {
    margin: 0;
    font-weight: 700;
}

/* Add this CSS to your styles.css file */
body {
    font-family: Arial, sans-serif;
    background-image: url('../image/for_dashboards.jpg'); /* path to your background image */
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    background-color: #4CAF50; /* example color */
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto 20px; /* Added margin at the bottom for spacing */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.6);
    outline: none;
}

textarea {
    resize: vertical; /* Allows vertical resizing of the textarea */
}

input[type="submit"] {
    background: #2196F3;
    color: #fff;
    padding: 14px 28px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: #1e87f0;
}